html,
body,
.map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

.center {
	text-align: center;
}

h2 {
	padding-left: 1em;
}

body {
	background-color: #ebfae3;
}

.user-panel {
	padding: 1em;
}

.search-bar {
	padding: 0.3em 0em 0.5em 0.5em;
	background-color: #d5e8c8;
}

.btn-clear-search {
	position: relative;
	top: 5px;
}

.btn-dismiss {
	border-radius:5px;
	background-color:#c0c0c0;
}

.btn-dismiss:hover {
	background-color:#d0d0d0;
}

@media screen and (min-width: 500px) {
	.user-panel{
		width: 200px;
		float: left;
	}
}

.results-group-heading {
	margin-bottom: 0;
	padding: 0.2em 1em;
	background-color: #dbbf8f;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

li.location-item {
	background-color: #c5dfaf;
	text-align: center;
	padding: 0.3em 0;
}

li.location-item:hover {
	background-color: #aec597;
}

h3 {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

h3:last-child,
li:last-child {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.all-markers:hover {
	background-color: #bea376;
}

.warning {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #fff;
	padding: 1em;
	font-size: 150%;
	width: 100%;
}

.info {
	border-radius: 3px;
	background-color: #c5dfaf;
}

.bg-warning{
	background-color:#fcf8e3;
}