html, body, .map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

img{
	max-width:100%;
}

.center{
text-align: center;
}

h2{
	padding-left:1em;
}

body{
	background-color:#EBFAE3;
}

.user-panel{
	padding: 1em;
}

.search-bar{
	padding:0.3em 0em 0.5em 0.5em;
	background-color:#D5E8C8;
}

.clear-search{
	position:relative;
	top:5px;
}

@media screen and (min-width: 500px) {
	.user-panel{
		width: 200px;
		float:left;
	}
}

.results-group-heading{
	margin-bottom:0;
	padding:0.2em 1em;
	background-color: #DBBF8F;
}

ul{
	margin:0;
	padding:0;
}

li{
	list-style: none;
}

li.location-item{
	background-color:#C5DFAF;
	text-align: center;
	padding:0.3em 0;
}

li.result:hover{
	background-color:#AEC597;
}

h3{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

h3:last-child,li:last-child{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.all-markers:hover{
	background-color: #bea376;
}